@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: var(--color-bg);
}

:root {
  --color-primary: #202c39;
  --color-primary-variant: #966ba0;
  --color-secondary: #f87e56;
  --color-secondary-variant: #fbbc6f;
  --color-bg: #e1e3ee;
}
::-webkit-scrollbar {
  display: none;
}
a {
  text-decoration: none;
  color: var(--color-bg);
}
body.color-1 {
  --color-primary: #001524;
}
body.color-2 {
  --color-primary: #22223b;
}
body.color-3 {
  --color-primary: #10002b;
}
body.color-4 {
  --color-primary: #1f363d;
}
body.color-5 {
  --color-primary: #0b3954;
}
body.color-6 {
  --color-primary: #0b3948;
}
body.color-7 {
  --color-primary: #372549;
}
body.color-8 {
  --color-primary: #0b132b;
}
body.color-9 {
  --color-primary: #6d2e46;
}
body.color-10 {
  --color-primary: #202c39;
}
body.color-11 {
  --color-primary: #252422;
}
body.color-12 {
  --color-primary: #011627;
}
body.color-13 {
  --color-primary: #22223b;
}
body.color-14 {
  --color-primary: #090d2b;
}

.color-box {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.1s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-box.active::before {
  content: "";
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  position: absolute;
  height: 55px;
  width: 55px;
}
.color-box.active {
  position: relative;
}
.color-box:active {
  scale: 0.8;
}

.color-1 {
  background: #001524;
}
.color-2 {
  background: #22223b;
}
.color-3 {
  background: #10002b;
}
.color-4 {
  background: #1f363d;
}
.color-5 {
  background: #0b3954;
}
.color-6 {
  background: #0b3948;
}
.color-7 {
  background: #372549;
}
.color-8 {
  background: #0b132b;
}
.color-9 {
  background: #6d2e46;
}
.color-10 {
  background: #202c39;
}
.color-11 {
  background: #252422;
}
.color-12 {
  background: #011627;
}
.color-13 {
  background: #22223b;
}
.color-14 {
  background: #090d2b;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
  flex-wrap: wrap;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-primary);
}

img {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
  color: var(--color-bg);
  height: 4rem;
  padding: 0 20px;
  font-weight: 600;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  width: fit-content;
  align-items: center;
  justify-content: space-evenly;
}
.navbar ul li {
  list-style: none;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 400;
  color: var(--color-bg);
}
.navbar .nav-right ul li:hover {
  color: var(--color-secondary);
}
.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-left .name {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-left .logo {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background: var(--color-primary);
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circles {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.section {
  min-height: 100vh;
  padding: 10px;
  padding-top: 80px;
  max-width: 1480px;
  margin: auto;
}

.hero-section .main-section {
  color: var(--color-bg);
  backdrop-filter: blur(5px);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 1rem;
}
.circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  position: absolute;
  animation: bounce infinite 1s alternate;
  transition: all 1s ease;
}
.circle:nth-child(1) {
  background: var(--color-secondary-variant);
  top: 10rem;
  left: 50%;
}
.circle:nth-child(2) {
  background: var(--color-secondary);
  top: 20rem;
  left: 30%;
}

.main-section h3:first-child {
  color: var(--color-secondary-variant);
  font-size: 1.4em;
}

.main-section h2 span {
  font-size: 1.2em;
  color: var(--color-secondary);
}
.main-section img {
  height: 20rem;
  width: 20rem;
  animation: bounce infinite 1s alternate;
}
.main-heading {
  position: absolute;
  top: 5rem;
  text-align: center;
  font-size: 2rem;
  right: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.7);
  z-index: 1;
}

#language-name {
  transition: all 0.3s ease;
  position: absolute;
  left: 60px;
  color: var(--color-secondary-variant);
  font-size: 1.1em;
  text-align: center;
  width: 120px;
}
.section-2 {
  position: relative;
  text-align: start;
  display: flex;
  justify-content: space-between;
}
.gap-2 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  text-align: center;
}
.btn {
  padding: 10px 20px;
  border-radius: 10px;
  width: max-content;
  margin: auto;
  cursor: pointer;
  transition: all 0.3s ease;
}

.close-btn {
  color: var(--color-bg);
  transition: all 0.3s ease;
  background: var(--color-primary);
  border: 2px solid transparent;
}
.close-btn:hover {
  background: transparent;
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.theme-settings-panel {
  background: var(--color-bg);
  position: fixed;
  height: max-content;
  width: 80vw;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  right: 0;
  bottom: 0;
  border-radius: 20px;
  z-index: 1;
  padding: 20px 0;
  text-align: center;
  scale: 0;
  transition: all 0.3s ease;
  transform-origin: left;
}
.theme-settings-panel.active {
  scale: 1;
}
.about-section .profile-img::before {
  content: "";
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  height: 200px;
  border-radius: 20%;
  transition: all 0.3s ease;
  z-index: -1;
  transform: rotate(25deg);
  width: 200px;
}
.about-section .profile-img img {
  border-radius: 20px;
}
.about-section .profile-img {
  height: 200px;
  margin: 20px 0;
  width: 200px;
  border-radius: 10px;
  /* overflow: hidden; */
  transform: rotate(10deg);
  transition: all 0.3s ease;
}
.about-section {
  padding: 10px;
  padding-top: 65px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  text-align: center;
  height: 100vh;
}
.about-section:hover .about-heading {
  box-shadow: 4px -2px 40px rgba(255, 255, 255, 0.2);
}
.about-section:hover .profile-img::before {
  transform: rotate(45deg);
}
.about-section:hover .profile-img {
  transform: rotate(0deg);
}

.about-heading {
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: max-content;
  margin: 10px auto;
  margin-top: 0;
}

.about-main-section p {
  width: 70vw;
  margin: 0 10px;
  font-size: 1.3em;
}
.about-main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.about-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  gap: 1rem;
  margin-right: 20px;
}

.btn-primary {
  border: 2px solid transparent;
  background: var(--color-secondary);
}

.btn-primary:hover {
  background: transparent;
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
.btn-primary-outline {
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}
.btn-primary-outline:hover {
  border: 2px solid transparent;
  color: var(--color-bg);
  background-color: var(--color-secondary);
}
.bottom-tab {
  height: 60px;
  width: 90vw;
  border-radius: 80px;
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  display: none;
}

.tab {
  height: 45px;
  width: 45px;
  padding: 13px;
  fill: var(--color-primary);
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}
.tab.active {
  background: var(--color-primary);
  fill: var(--color-bg);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.project-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.project-cards .card {
  width: 300px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  transition: all 0.3s ease;
  padding-bottom: 1rem;
  position: relative;
}

.project-card-area {
  transition: all 0.3s ease;
  /* scale: 0; */
}

.project-cards .card:hover {
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.1);
}
.project-cards .card img {
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}
.card .tag {
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
  background: var(--color-primary);
  padding: 10px 15px;
  border-bottom-right-radius: 50%;
}
.project-cards .card h2 {
  font-size: large;
  color: rgba(255, 255, 255, 0.7);
  padding: 5px;
}
.project-cards .card p {
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.btn-main {
  font-weight: bold;
  background: var(--color-primary);
  border: 2px solid transparent;
}

/* .btn-main:hover {
  background: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
} */

.btn-main-outline {
  border: 2px solid var(--color-primary);
  color: rgba(255, 255, 255, 0.6);
  font-weight: bold;
}
/* .btn-main-outline:hover {
  border: 2px solid transparent;
  color: var(--color-bg);
  background-color: var(--color-primary);
} */

.btn:active {
  scale: 0.9;
}
.project-category-tab {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 20px 0;
  flex-wrap: wrap;
}
.project-category-tab .category-tab {
  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  padding: 10px 20px;
  width: max-content;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-size: 1rem;
  border: 3px solid transparent;
}

.project-category-tab .category-tab:hover {
  border-color: rgba(255, 255, 255, 0.3);
  background: var(--color-primary);
}
.project-category-tab .category-tab:active {
  scale: 0.8;
}

@keyframes bounce {
  0% {
    transform: translate(0, -10px);
  }

  100% {
    transform: translate(0, 10px);
  }
}

@media screen and (max-width: 680px) {
  .about-main-section p {
    width: 85vw;
  }
  .hero-section .main-section {
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
  }
  .nav-right {
    display: none;
  }
  .bottom-tab {
    display: flex;
  }
}

.moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 3rem;
  right: 3em;
  filter: blur(1px);
  z-index: 1;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  transition: all 0.3s ease;
}
.circles li:hover {
  opacity: 0;
  animation-name: none;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 80px;
  height: 80px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 70px;
  height: 70px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 10px;
  height: 10px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  left: 25%;
  width: 10px;
  height: 10px;
  animation-delay: 3s;
  animation-duration: 8s;
}
.circles li:nth-child(12) {
  left: 15%;
  width: 50px;
  height: 50px;
  animation-delay: 4s;
  animation-duration: 6s;
}
.circles li:nth-child(13) {
  left: 35%;
  width: 30px;
  height: 30px;
  animation-delay: 8s;
  animation-duration: 4s;
}
.circles li:nth-child(14) {
  left: 45%;
  width: 25px;
  height: 25px;
  animation-delay: 18s;
  animation-duration: 6s;
}
.circles li:nth-child(15) {
  left: 85%;
  width: 25px;
  height: 25px;
  animation-delay: 1s;
  animation-duration: 16s;
}
.theme-settings-btn {
  background: white;
  border-radius: 50%;
  padding: 3px;
  position: fixed;
  bottom: 80px;
  right: 30px;
  height: 40px;
  width: 40px;
  fill: var(--color-primary);
  animation: rotate 5s linear infinite;
  z-index: 111;
  transition: all 0.3s ease;
  cursor: pointer;
}
.theme-settings-btn:active {
  scale: 0.8;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
